/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputs {
  margin-top: var(--size-relative-8);
  margin-bottom: var(--size-relative-8);
  font-size: var(--font-size-2);
}

.value {
  font-size: var(--font-size-3);
  word-wrap: anywhere;
  max-inline-size: var(--size-content-3);
}

.value code {
  white-space: pre-wrap;
}

.value sub {
  margin-left: var(--size-relative-000);
}

.inputs input {
  padding: var(--size-relative-3);
  margin-left: var(--size-relative-3);
  font-family: var(--font-mono);
  box-sizing: content-box;
}

.highlight {
  color: var(--indigo-10);
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: var(--blue-3);
  }
}

@media (max-width: 640px) {
  .sm-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .md-hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .lg-hidden {
    display: none;
  }
}

/* Show titles on mobile browsers by tapping
* From: https://stackoverflow.com/a/60660207
* */
@media (pointer: coarse), (hover: none) {
  [tabindex][title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-bottom: 1px dashed;
  }
  [tabindex][title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: var(--text-1);
    background-color: var(--surface-1);
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: 10px;
    z-index: 1;
  }
}

#footer-emoji {
  border: 0;
}

.align-end {
  text-align: end;
}

.right-space {
  margin-right: var(--size-relative-3);
}

.site-footer {
  width: 100%;
  margin-top: var(--size-content-1);
  margin-bottom: var(--size-content-1);
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.site-footer code {
  font-size: var(--font-size-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}
