/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--size-relative-6);
  margin-top: var(--size-relative-8);
  margin-bottom: var(--size-relative-8);
  font-size: var(--font-size-2);
}

.value {
  font-size: var(--font-size-3);
  word-wrap: anywhere;
  max-inline-size: var(--size-content-3);
}

.value code {
  white-space: pre-wrap;
}

.value sub {
  margin-left: var(--size-relative-1);
}

.inputs input {
  padding: var(--size-relative-3);
  margin-left: var(--size-relative-3);
  font-family: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}
